{{- if .Values.indentityprovider.include -}}

apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Prune=false      
  name: v4-0-config-user-idp-0-file-data
  namespace: openshift-authentication

---
apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    argocd.argoproj.io/sync-options: Prune=false
  name: cluster
spec:
  identityProviders:
  - htpasswd:
      fileData:
        name: htpasswd-secret-acm
    mappingMethod: claim
    name: htpasswd_Lab_RH_ACM
    type: HTPasswd

{{- end }}