apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

# Bootstrap RH ACM - Management Cluster
- sealed-secrets/overlays/default
- rhacm
- identity-provider
- groups
- argocd
- gitops-cluster
- applications

# Provision and configure cluster
- applicationsets
- policies

# Deploy Application